{%extends 'homeDir/base.html'%}
{%load static%}

{% load crispy_forms_tags %}

{%block main%}

        <div class="content-section">
           <form method="POST">
               {% csrf_token %}
               <fieldset class="form-group">
                   <h1 id="headerCommunity">Şifre Yenile</h1>
                   {{ form|crispy }}
               </fieldset>
               <div class="form-group">
                   <button class="btn btn-outline-info" type="submit">Yenile</button>
               </div>
           </form>
       </div>


{%endblock main%}
